/chapter1/dist
/chapter1/node_modules
/chapter2/dist
/chapter2/node_modules
/chapter3/dist
/chapter3/node_modules
/chapter4/dist
/chapter4/node_modules
/chapter5/dist
/chapter5/node_modules
/chapter6/dist
/chapter6/node_modules
/chapter6Vuex/dist
/chapter6Vuex/node_modules
